* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.headerr {
  background-color: #333;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;
}

#header .logo {
  width: 10rem;
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

#header nav ul li {
  margin-right: 4rem;
}

#header nav ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

#header nav ul li a:hover {
  color: #FFF200;
  text-decoration: none;
}

.header-active {
  background: #333;
  height: 6rem;
  -webkit-box-shadow: .2rem 0 .5rem #000;
          box-shadow: .2rem 0 .5rem #000;
}

.header-active nav ul {
  margin: 0;
}

#home {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: relative;
}

#home .content {
  padding: 20em;
  margin-left: -10rem;
}

#home .content h1 {
  font-size: 5rem;
  font-family: 'lemonada',sans-serif;
  font-weight: bolder;
  text-shadow: .1rem .1rem .3rem #333;
  color: #FFF200;
}

#home .content h2 {
  font-size: 3.5rem;
  font-family: 'lemonada',sans-serif;
  font-weight: bolder;
  text-shadow: .1rem .1rem .3rem #333;
  color: #fff;
  margin: 1rem 0;
}

#home .content p {
  font-size: 1.5rem;
  color: #ccc;
}

#home .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background: #fff;
}

#home .content button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#home .content button:hover::before {
  width: 100%;
}

#home .video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#home .video-container .vid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

#home .video-container .vid1 {
  display: block;
}

#home .controls {
  position: absolute;
  bottom: 14%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .controls .dots {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background: #FFF200;
  margin: 0 1rem;
}

#home .controls .dots:hover {
  background: #fff;
}

.cheff {
  width: 30%;
  margin-left: 60rem;
  margin-top: -8rem;
}

#about .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .heading h1 span {
  color: #FFF200;
}

#about .content {
  margin: 5rem auto;
  padding: 3rem auto;
  margin-left: 8em auto;
}

#about .content p {
  font-size: 2rem;
  padding: 1rem;
}

#about .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin-left: 3rem;
}

#about .content button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#about .content button:hover::before {
  width: 100%;
}

#about .content button:hover {
  color: #333;
}

.fa-hamburger {
  font-size: 4rem;
  z-index: 1000;
  color: #FFF200;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .cheff {
    width: 50%;
    margin-left: 27rem;
  }
  html {
    font-size: 35%;
  }
  #header .fa-hamburger {
    display: block;
  }
  #header nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 35rem;
    background: #000;
  }
  #header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  #header nav ul li {
    margin: 2rem 0;
  }
  #header nav ul li a {
    font-size: 3.5rem;
    border-radius: 5rem;
  }
  #header nav ul li a:hover {
    padding: .5rem 7.5rem;
    color: #333;
    background: #FFF200;
  }
  #header .nav-toggle {
    left: 0%;
  }
}

#special {
  background: #000;
  min-height: 100vh;
}

#special .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#special .heading h1 span {
  color: #FFF200;
}

#special .card-container {
  width: 95%;
  margin: 7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#special .card-container .card {
  height: 40rem;
  width: 30rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
}

#special .card-container .card img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#special .card-container .card p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

#special .card-container .card button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  height: 3.5rem;
  width: 14rem;
  background: #333;
  color: #fff;
}

#special .card-container .card button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#special .card-container .card button:hover::before {
  width: 100%;
}

#special .card-container .card button:hover {
  color: #333;
}

#special .card-container .card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#dish {
  min-height: 100vh;
  width: 100vw;
}

#dish .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dish .heading h1 span {
  color: #FFF200;
}

#dish .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
  width: 90%;
}

#dish .box-container .box {
  height: 20rem;
  width: 25rem;
  border-radius: .5rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 .5rem #333;
          box-shadow: 0 0 .5rem #333;
}

#dish .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dish .box-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333333;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#dish .box-container .box .info h3 {
  font-size: 3rem;
}

#dish .box-container .box .info p {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #FFF200;
  border-top: 0.2rem solid #FFF200;
  margin: 1rem 2rem;
}

#dish .box-container .box .info button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
}

#dish .box-container .box .info button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#dish .box-container .box .info button:hover::before {
  width: 100%;
}

#dish .box-container .box:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=try.css.map */