
$yellow: #FFF200;

@mixin button() {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        background: $yellow;
        height: 100%;
        width: 0%;
        transition: .2s;
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
    }

}

@mixin heading() {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;

    span {
        color: $yellow;
        
        
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.headerr {
    background-color: #333;
}


#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;

    .logo {
        width:10rem;
        
        
    }
    
    nav {
        
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;

            li {
                margin-right: 4rem;

                a {
                    color: #fff;
                    font-size: 2rem;
                    text-decoration: none;

                    &:hover {
                        color: $yellow;
                        text-decoration: none;
                    }
                }
            
            }
        }
        
    }
}


.header-active {
    background: #333;
    height: 6rem;
    box-shadow: .2rem 0 .5rem #000;

    nav {
        
        ul {
            margin: 0;

        }
    }
}


#home {
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0, .6));
    position: relative;

    .content {
        padding: 20em;
        margin-left: -10rem;
        h1 {
            font-size: 5rem;
            font-family: 'lemonada',sans-serif;
            font-weight: bolder;
            text-shadow: .1rem .1rem .3rem #333;
            color: $yellow;
        }
        h2 {
            font-size: 3.5rem;
            font-family: 'lemonada',sans-serif;
            font-weight: bolder;
            text-shadow: .1rem .1rem .3rem #333;
            color: #fff;
            margin: 1rem 0;
        }
        p {
            font-size: 1.5rem;
            color: #ccc;

        }
        button {
            @include button();
            height: 4rem;
            width: 14rem;
            background: #fff;

        }
    }
    .video-container {
        position: absolute;
        top: 0; left:0;
        height: 100vh;
        width: 100%;
        z-index: -1;

        .vid {
            position: absolute;
            top: 0; left:0;
            height: 100vh;
            width: 100%;
            object-fit: cover;
            display: none;

        }
        .vid1 {
            display: block;
        }
    }
    .controls {
        position: absolute;
        bottom: 14%; left:50%;
        transform: translateX(-50%);
        display: flex;
        
        .dots {
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            background: $yellow;
            margin: 0 1rem;

            &:hover {
                background: #fff;
            }
        }

    }
}


// about

.cheff {
    width: 30%;
    margin-left: 60rem;
margin-top: -8rem;
}

#about {
    .heading {
       h1 { @include heading(); } 
    }
    .content {
        margin: 5rem auto;
        padding: 3rem auto;
        margin-left: 8em auto;

        p {
            font-size: 2rem;
            padding: 1rem;
        }
        button {
            @include button();
            height: 4rem;
            width: 14rem;
            background-color: #333;
            color:#fff;
            padding: 1rem;
            margin-left: 3rem;
            &:hover {
                color: #333;
            }
        }
    }
}



.fa-hamburger {
    
    font-size: 4rem;
    z-index: 1000;
    color: $yellow;
    cursor: pointer;
    display: none;
    
}

//media query

@media (max-width:768px) {

    .cheff {
        width: 50%;
        margin-left: 27rem;
    }

    html {
        font-size: 35%;
    
    }

    #header {
         .fa-hamburger {
             display: block;
             
         }
         nav {
             position: fixed;
             top: 0;
             left: -120%;
             height: 100vh;
             width: 35rem;
             background: #000;

             ul {
                 flex-flow: column;
                 justify-content: center;
                 height: 100%;

                 li {
                    
                     margin: 2rem 0;

                     a {
                         font-size: 3.5rem;
                         border-radius: 5rem;

                         &:hover {
                             padding: .5rem 7.5rem;
                             color: #333;
                             background: $yellow;

                         }
                     }
                 }
             }
         }
         .nav-toggle {
             left: 0%;
            
         }
    }
    
}

// special section starts

#special {
    background: #000;
    min-height: 100vh;

    .heading {
        h1 {
            @include heading();
            color: #fff;
        }
        
    }
   .card-container {
       width: 95%;
       margin: 7rem auto;
       display: flex;
       align-items: center;
       justify-content: space-around;
       flex-wrap: wrap;

       .card {
           height: 40rem;
           width: 30rem;
           background: #fff;
           padding: 1rem;
           margin: 2rem;

           img {
               height: 50%;
               width: 100%;
               object-fit: cover;
           }
           p {
               font-size: 1.4rem;
               margin: 2rem 0;
           }
           button {
               @include button();
               height: 3.5rem;
               width: 14rem;
               background: #333;
               color: #fff;

               &:hover {
                   color: #333;
               }
           }
           &:hover {
            transform: scale(.9);
        }
     }
       
   } 
}

// dish

#dish {
    min-height: 100vh;
    width: 100vw;

    .heading {
        h1 {
            @include heading();
        }

    }
    .box-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 1rem auto;
        width: 90%;
         
        .box {
            height: 20rem;
            width: 25rem;
            border-radius: .5rem;
            margin: 2rem;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            box-shadow: 0 0 .5rem #333;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .info {
                position: absolute;
                top: 0; left:0;
                height: 100%;
                width: 100%;
                background: rgba(51,51,51,6);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                flex-flow: column;
                color: #fff;
                transform: scale(0);

                h3 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.3rem;
                    border-bottom: .2rem solid $yellow;
                     border-top: .2rem solid $yellow;
                     margin: 1rem 2rem;
                }
                button {
                    @include button();
                    height: 4rem;
                    width: 14rem;
                }

            }
            &:hover .info {
                transform: scale(1);
            }
        }
    }
}


// contact

#contact {
    min-height: 100vh;
    width: 100vw;
    background: url(../) no-repeat;
    background-size: cover;
    background-position: center;

    .heading {
        h1 {
            @include heading();

        }
    }
    form {
        background-position: #fff;
        padding-top: 2rem;
        margin: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 2rem #333;

        .inputBox {
            position: relative;
            text-align: center;

            input,textarea {
                outline: none;
                border:  .2rem solid #333;
                border-radius: .2rem;
                margin: 1rem 0;
                padding: 0 1rem;
                background: none;
                height: 4rem;
                width: 90%;
                font-size: 2rem;

                &:focus ~ h3,
                &:valid ~ h3 {
                    font-size: 1.6rem;
                    left: 6%;
                    top: -5.rem;
                    color: #ff3300;

                }
            }
            textarea {
                padding: 1rem;
                resize: none;
                height: 20rem;
            }
            h3 {
                position: absolute;
                top: 3rem; left: 7%;
            }

        }
        input[type="submit"] {
            @include button();
            height: 4rem;
            width: 12rem;
            margin-bottom: 2rem;
            margin-left: 4%;
            background: #333;
            color: #fff;

            &:hover {
                color: #333;
                background: $yellow;

            }
        }

    }
}

#footer {
    background: #333;
    .brand {
        text-align: center;
        margin-top: 2rem;
       a {
           .logo {
               img {
                   height: 4rem;
               }
           }
       }
       .icons {
           a {
               font-size: 2rem;
               margin: 2rem 1rem;
               color: #fff;

               &:hover {
                   color: $yellow;
               }
           }
       }
    }

    .footer-links {
        text-align: center;
        display: flex;
        flex-flow: column;
        margin: 1rem 0;
        h2 {
            font-size: 2.2rem;
            color: $yellow;
        }
        a {
            color: #fff;
            font-size: 1.7rem;
        }
    }
    .letter {
        h2 {
            font-size: 2rem;
            margin: 2rem 0 ;
            color: #fff;

        }
        input[type="text"] {
            border: .2rem solid #fff;
            outline: none;
            background: none;
            height: 4rem;
            width: 22rem;
            padding:0 1rem;
            font-size: 1.3rem;
            color: #fff;

        }

        input[type="submit"] {
            @include button();
            height: 4rem;
            width: 12rem;
            margin: 1rem 0;
            
            background: #333;
            color: #fff;

            &:hover {
                color: #333;
                background: $yellow;

            }
        }
    }
   
}